[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = AI service for keeping a Gerrit and Git system healthy
[access "refs/*"]
	owner = group user/Luca Milanesio (lucamilanesio)
	label-Code-Review = -2..+2 group gerritforge-health-service-group
	label-Code-Review = -2..+2 group user/Luca Milanesio (lucamilanesio)
	label-Verified = -1..+1 group gerritforge-health-service-group
	label-Verified = -1..+1 group user/Luca Milanesio (lucamilanesio)
	push = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
	rebase = group gerritforge-health-service-group
	rebase = group user/Luca Milanesio (lucamilanesio)
	removeReviewer = group user/Luca Milanesio (lucamilanesio)
	submit = group gerritforge-health-service-group
	submit = group user/Luca Milanesio (lucamilanesio)
[access "refs/heads/*"]
	create = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
	pushMerge = group user/Luca Milanesio (lucamilanesio)
	read = group user/Luca Milanesio (lucamilanesio)
[access "refs/tags/*"]
	push = group user/Luca Milanesio (lucamilanesio)
	push = +force group user/Luca Milanesio (lucamilanesio)
